<!DOCTYPE html>
<html lang="en">
<body>
    <header>
        <div class="container text-center" th:fragment="head">
            <div id="logo"><img alt="logo" height="95" width="434"
                                src="../images/ATZFinance.png"
                                data-th-attr="src=@{/images/ATZFinance.png}"/>
            </div>
            <div id="PSU"><img alt="PSU" height="100" width="150"
                                src="../images/lion_150x100.png"
                                data-th-attr="src=@{/images/lion_150x100.png}"/>
            </div>
        </div>
    </header>
</body>
</html>