<!DOCTYPE html>
<!-- No longer needed if using data-th syntax: xmlns:th="http://www.thymeleaf.org"-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eFinance Loan Application Request</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
          crossorigin="anonymous">
</head>
<body style="background-color:lightgrey;">
<div data-th-replace="common/head :: head"></div>
<div class="container text-center">
    <h1>eFinance Loan Application Request</h1>
    <hr>
    <h2 data-th-name ="'Customer name: ' + customer.customerFirstName + ', ' + 'ID: ' + customer.customerId"></h2>
    <form action="#" data-th-action="@{/loanApp}" data-th-object="${loanApp}" method="POST">
        <input type="hidden" data-th-field="*{lAId}">
        <!--Table intersection hidden id input:
        field is Set<Customer> customers inside loan app object, value is customerId -->
        <input type="hidden" data-th-field="*{customers}" data-th-value="${customer.cId}">
        <input type="hidden" data-th-field="*{date}">
        <input type="hidden" data-th-field="*{status}">
        <label>Loan Principle ($)
            <input type="number" data-th-field="*{principal}"
                   placeholder="(Min $1,000, Max $100,000)" size="29"
                   class="form-control mb-4 col-4" min="1000" max="100000" step="1000" required>
        </label>
        <br>
        <label>Loan APR (%)
            <input type="number" data-th-field="*{APR}"
                   placeholder="(Min 5%, Max 100%)" size="29"
                   class="form-control mb-4 col-4" min="5" max="100" step="1" required>
        </label>
        <br>
        <label>Loan Term (months)
            <input type="number" data-th-field="*{term}"
                   placeholder="(Min 12 months, Max 72 months)" size="29"
                   class="form-control mb-4 col-4" min="12" max="72" step="12" required>
        </label>
        <br>
        <label>Please select your preferred loan start date:
            <input type="date" data-th-field="*{requestedStartDate}"
                   class="form-control mb-4 col-4" data-th-min="${date}" required> <!-- Cannot request a past date-->
        </label>
        <div>
            <button type="submit" class="btn btn-primary"
                    data-th-onclick="return confirm('Please confirm loan details before selecting \'Ok\'.')">
                Request Loan
            </button>
        </div>
    </form>
    <p></p> <!-- Spacing between button and hyperlink-->
<!--    <a data-th-href="@{/showCustomerDashboard/(c_id=${customer.cId})}">Current Loans List</a>-->
    <a data-th-href="@{/showCustomerAppDashboard/(cId=${customer.cId})}">Loan Application History</a>
    <p></p>
</div>
</body>
</html>